# Docker Compose
POSTGRES_VERSION=18-alpine
CONTAINER_NAME=postgres_18_db
RESTART_POLICY=always

# PostgreSQL
DB_USER=burguer_house
DB_PASSWORD=change-me
DB_NAME=burguer_house

# Port mapping
HOST_PORT=5432
CONTAINER_PORT=5432

# Docker volume
VOLUME_NAME=pgdata
